.gradle/
.kotlin/
.idea/
local.properties
build/
*.iml
captures/
app/.cxx/

app/build/
app/src/main/assets/rootfs.tar.gz

rftoolbuilder/build/
rftoolbuilder/distfiles/
rftoolbuilder/rootfsbuilder.zip
