.gradle/
.kotlin/
.idea/
local.properties
build/
*.iml
captures/

app/build/
app/src/main/assets/rootfs.tar.gz
app/src/main/jniLibs/arm64-v8a/libproot.so
app/src/main/jniLibs/arm64-v8a/librftool.so

rftoolbuilder/build/
rftoolbuilder/distfiles/
rftoolbuilder/rootfsbuilder.zip
